body {
	background-color: black;
}

h1 {
	color: white;
	font-size: 60px;
	text-align: left;
	text-shadow: 2px 4px 2px rgb(255, 137, 0);
}

h2 {
	color: white;
	font-size: 20px;
	text-align: left;
	text-shadow: 2px 4px 2px rgb(255, 134, 44);
}




